version: '3.8'

services:
  db:
    image: ankane/pgvector
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: document_intelligence
    ports:
      - "5434:5432"
    volumes:
      - doc_intel_postgres_data:/var/lib/postgresql/data

volumes:
  doc_intel_postgres_data:
