logging:
%{ if ops_agent_collect_docker_logs ~}
  receivers:
    quaero_docker_files:
      type: files
      include_paths:
        - /var/lib/docker/containers/*/*-json.log
      record_log_file_path: true

  processors:
    parse_docker_envelope:
      type: parse_json
      time_key: time
      time_format: "%Y-%m-%dT%H:%M:%S.%LZ"

    normalize_docker_message:
      type: modify_fields
      fields:
        message:
          move_from: jsonPayload.log
        jsonPayload.container_stream:
          move_from: jsonPayload.stream

    trim_docker_newline:
      type: parse_regex
      field: message
      regex: "^(?<message>.*?)(\\n)?$"

    parse_nested_app_json:
      type: parse_json
      field: message

  service:
    pipelines:
      quaero_docker_pipeline:
        receivers: [quaero_docker_files]
        processors:
          [parse_docker_envelope, normalize_docker_message, trim_docker_newline, parse_nested_app_json]
%{ else ~}
  service:
    pipelines: {}
%{ endif ~}

metrics:
%{ if ops_agent_collect_host_metrics ~}
  receivers:
    hostmetrics:
      type: hostmetrics
      collection_interval: 60s

  service:
    pipelines:
      default_pipeline:
        receivers: [hostmetrics]
%{ else ~}
  service:
    pipelines: {}
%{ endif ~}
